@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model RestaurantReviewCoreMVC.Models.Reservation
<form method="post" class="container">
    <h2 class="text-center mb-4 fw-bold">
        @if (Model.ReservationID == -1)
        {
            @:Make a Reservation for @Model.RestaurantName
        }
        else
        {
            @:Update The Reservation for @Model.Name
        }
    </h2>
    <div class="mb-3">
        <div class="d-flex justify-content-between align-items-center mb-1">
            <label class="form-label">Name</label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="Name" value="@Model.Name" type="text" />
    </div>
    <div class="mb-3">
        <div class="d-flex justify-content-between align-items-center mb-1">
            <label class="form-label">Phone Number</label>
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="Phone" value="@Model.Phone" type="tel" pattern="\(\d{3}\)\s\d{3}[-]\d{4}" />
    </div>
    <div class="mb-3">
        <div class="d-flex justify-content-between align-items-center mb-1">
            <label class="form-label">Email</label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="Email" value="@Model.Email" type="text" />
    </div>
    <div class="mb-3">
        <div class="d-flex justify-content-between align-items-center mb-1">
            <label class="form-label">Reservation Time</label>
            <span asp-validation-for="ReservationTime" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="ReservationTime" value="@Model.ReservationTime.ToString("yyyy-MM-ddTHH:mm")" type="datetime-local" />
    </div>
    <div class="mb-3">
        <div class="d-flex justify-content-between align-items-center mb-1">
            <label class="form-label">Party Size</label>
            <span asp-validation-for="PartySize" class="text-danger"></span>
        </div>
        <select class="form-select" asp-for="PartySize">
            @for (int i = 1; i < 13; i++)
            {
                if (Model.PartySize == i)
                {
                    <option value="@i" selected>@i</option>
                }
                else
                {
                    <option value="@i">@i</option>
                }
            }
        </select>
    </div>
    <div class="mb-3">
        <div class="d-flex justify-content-between align-items-center mb-1">
            <label class="form-label">Comment</label>
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="Comment" value="@Model.Comment" type="text" />
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
    
    @if (Model.ReservationID > 0)
    {
        <a class="btn btn-outline-primary" asp-controller="Restaurant" asp-action="ManageReservations" asp-route-restaurantID="@Model.RestaurantID">Go Back</a>
    }
    else
    {
        <a class="btn btn-outline-primary" asp-controller="Restaurant" asp-action="ViewRestaurant" asp-route-id="@Model.RestaurantID">Go Back</a>
    }
    <input asp-for="ReservationID" type="hidden" />
    <input asp-for="RestaurantID" type="hidden" />

</form>