@{
    
}
@model Review

<form method="post" class="container">
    <h2 class="text-center mb-4 fw-bold">
        @if (Model.ReviewID == -1)
        {
            @:Write a New Review for @(Model.RestaurantName)
        }
        else
        {
            @:Update Your Review for @(Model.RestaurantName)
        }
    </h2>

    <div class="mb-3">
        <div class="d-flex justify-content-between align-items-center mb-1">
            <label class="form-label">Name</label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="Name" value="@Model.Name" type="text" />
    </div>

    <div class="mb-3">
        <div class="d-flex justify-content-between align-items-center mb-1">
            <label class="form-label">Comment</label>
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="Comment" value="@Model.Comment" type="text" />
    </div>

    <div class="mb-3">
        <div class="d-flex justify-content-between align-items-center mb-1">
            <label class="form-label">Quality</label>
            <span asp-validation-for="Quality" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-between w-25">
            @for (int i = 1; i < 6; i++)
            {
                if (Model.Quality == i)
                {
                    <label><input asp-for="Quality" value="@i" type="radio" checked />@i</label>
                }
                else
                {
                    <label><input asp-for="Quality" value="@i" type="radio" />@i</label>
                }
            }
        </div>
    </div>

    <div class="mb-3">
        <div class="d-flex justify-content-between align-items-center mb-1">
            <label class="form-label">Service</label>
            <span asp-validation-for="Service" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-between w-25">
            @for (int i = 1; i < 6; i++)
            {
                if (Model.Service == i)
                {
                    <label><input asp-for="Service" value="@i" type="radio" checked />@i</label>
                }
                else
                {
                    <label><input asp-for="Service" value="@i" type="radio" />@i</label>
                }
            }
        </div>
    </div>

    <div class="mb-3">
        <div class="d-flex justify-content-between align-items-center mb-1">
            <label class="form-label">Atmosphere</label>
            <span asp-validation-for="Atmosphere" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-between w-25">
            @for (int i = 1; i < 6; i++)
            {
                if (Model.Atmosphere == i)
                {
                    <label><input asp-for="Atmosphere" value="@i" type="radio" checked />@i</label>
                }
                else
                {
                    <label><input asp-for="Atmosphere" value="@i" type="radio" />@i</label>
                }
            }
        </div>
    </div>

    <div class="mb-3">
        <div class="d-flex justify-content-between align-items-center mb-1">
            <label class="form-label">Price</label>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-between w-25">
            @for (int i = 1; i < 6; i++)
            {
                if (Model.Price == i)
                {
                    <label><input asp-for="Price" value="@i" type="radio" checked />@i</label>
                }
                else
                {
                    <label><input asp-for="Price" value="@i" type="radio" />@i</label>
                }
            }
        </div>
    </div>

    <div class="mb-3">
        <div class="d-flex justify-content-between align-items-center mb-1">
            <label class="form-label">Visit Time</label>
            <span asp-validation-for="VisitTime" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="VisitTime" type="datetime-local" />
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>

    @if (Model.ReviewID > 0)
    {
        <a class="btn btn-outline-primary" asp-controller="Restaurant" asp-action="ManageReviews">Go Back</a>
    }
    else
    {
        <a class="btn btn-outline-primary" asp-controller="Restaurant" asp-action="ViewRestaurant" asp-route-id="@Model.RestaurantID">Go Back</a>
    }

    <input asp-for="ReviewID" type="hidden" />
    <input asp-for="AccountID" type="hidden" />
    <input asp-for="RestaurantID" type="hidden" />

</form>