@{
}
@model RestaurantReviewCoreMVC.Models.Review

<form method="post">
    <div>
        <label>Name</label><br />
        <input asp-for="Name" value="@Model.Name" type="text" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label>Comment</label><br />
        <input asp-for="Comment" value="@Model.Comment" type="text" />
        <span asp-validation-for="Comment" class="text-danger"></span>
    </div>
    <div>
        <label>Quality</label><br />
        @for (int i = 1; i < 6; i++)
        {
            if (Model.Quality == i)
            {
                <label><input asp-for="Quality" value="@i" type="radio" checked />@i</label>
            }
            else 
            {
                <label><input asp-for="Quality" value="@i" type="radio" />@i</label>
            }
        }
        <span asp-validation-for="Quality" class="text-danger"></span>
    </div>
    <div>
        <label>Service</label><br />
        @for (int i = 1; i < 6; i++)
        {
            if (Model.Service == i) 
            {
                <label><input asp-for="Service" value="@i" type="radio" checked />@i</label>
            }
            else 
            {
                <label><input asp-for="Service" value="@i" type="radio" />@i</label>
            }
        }
        <span asp-validation-for="Service" class="text-danger"></span>
    </div>
    <div>
        <label>Atmosphere</label><br />
        @for (int i = 1; i < 6; i++)
        {
            if (Model.Atmosphere == i) 
            {
                <label><input asp-for="Atmosphere" value="@i" type="radio" checked />@i</label>
            }
            else 
            {
                <label><input asp-for="Atmosphere" value="@i" type="radio" />@i</label>
            }
        }
        <span asp-validation-for="Atmosphere" class="text-danger"></span>
    </div>
    <div>
        <label>Price</label><br />
        @for (int i = 1; i < 6; i++)
        {
            if (Model.Price == i) 
            {
                <label><input asp-for="Price" value="@i" type="radio" checked />@i</label>
            }
            else
            {
                <label><input asp-for="Price" value="@i" type="radio" />@i</label>        
            }
        }
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div>
        <label>Visit Time</label>
        <input asp-for="VisitTime" type="datetime-local" />
        <span asp-validation-for="VisitTime" class="text-danger"></span>
    </div>
    <button type="submit">Submit</button> 
</form>